@charset "UTF-8";

@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

@font-face {
    font-family: 'aller_bold_display';
    src: url('/fonts/Aller/Aller_Bd.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_bold_italic';
    src: url('/fonts/Aller/Aller_BdIt.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_italic';
    src: url('/fonts/Aller/Aller_It.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_lItalic';
    src: url('/fonts/Aller/Aller_Lt.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_ltItalic';
    src: url('/fonts/Aller/Aller_LtIt.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_display';
    src: url('/fonts/Aller/AllerDisplay.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller_regular';
    src: url('/fonts/Aller/Aller_Rg.ttf') format('truetype');        
    font-weight: normal;
    font-style: normal;
}